<!--<div class="container">-->
<!--	<form class="form-signin" (ngSubmit)="signup()" #signupForm="ngForm">-->
<!--		<div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">-->
<!--		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
<!--		  {{message}}-->
<!--		</div>-->
<!--		<h2 class="form-signin-heading">Sign Up Now</h2>-->
<!--		<label for="inputEmail" class="sr-only">Email address</label>-->
<!--		<input type="email" class="form-control" placeholder="Email address" [(ngModel)]="signupData.username" name="username" required/>-->
<!--		<label for="inputPassword" class="sr-only">Password</label>-->
<!--		<input type="password" class="form-control" placeholder="Password" [(ngModel)]="signupData.password" name="password" required/>-->
<!--		<button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!signupForm.form.valid">Sign Up</button>-->
<!--	</form>-->
<!--</div>-->
<mat-card>
  <div class="col-md-6">
    <!--	<form novalidate [formGroup]="newUserForm" >-->
    <form [formGroup]="newUserForm" autocomplete="off" novalidate>

      <h2 >Please sign in</h2>
      <div class="form-group" [ngClass]="{'error': userName.invalid && userName.dirty }">
        <label for="userName">userName:</label>
        <input formControlName="userName" id="userName" type="text"  class="form-control"
               placeholder="address..."/>
        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
             class="alert alert-danger">
          <div *ngIf="userName.errors.required">
            userName is required.
          </div>
        </div>
      </div>
      <br/>
      <div class="form-group" [ngClass]="{'error': email.invalid && email.dirty }">
        <label for="email">Email:</label>
        <input formControlName="email" id="email" type="text"  class="form-control"
               placeholder="email..."/>
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
             class="alert alert-danger">
          <div *ngIf="email.errors.required">
            email is required.
          </div>
        </div>
      </div>
      <br/>
      <div class="form-group" [ngClass]="{'error': password.invalid && password.dirty }">
        <label for="password">Password:</label>
        <input formControlName="password" id="password" type="text"  class="form-control"
               placeholder="password..."/>
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
             class="alert alert-danger">
          <div *ngIf="password.errors.required">
            password is required.
          </div>
        </div>
      </div>
      <button mat-button [disabled]="newUserForm.invalid" (click)="login()">Login</button>
       <button mat-button  [routerLink]="['/login']">Switch To Login </button>


      <!--    <label for="inputEmail" class="sr-only">Email address</label>-->
      <!--		<input matInput type="email" class="form-control" placeholder="Email address" [(ngModel)]="loginData.username" name="username" required/>-->
      <!--		<label for="inputPassword" class="sr-only">Password</label>-->
      <!--		<input matInput type="password" class="form-control" placeholder="Password" [(ngModel)]="loginData.password" name="password" required/>-->
      <!--		<button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.form.valid">Sign in</button>-->
      <!--		<p>-->
      <!--			Not a member? <a [routerLink]="['/signup']">Signup here</a>-->
      <!--		</p>-->
    </form>
  </div>
</mat-card>
